main
	div.main-article
		div.main-image-wrapper
			div.main-image-annotation
				p Good Inc. image caption to go here
		div.main-article-wrapper
			h2 Housework can't kill you, but why take a chance?
			p Some text is here. You can read some about housework. By the way, it can kill you one of these fine days...
	div.secondary-article-wrapper
		div.secondary-article
			div.first-secondary-article-image
				div.right-angle-icon
			div.secondary-article-annotation
				div.secondary-article-text
					h2 Some pictures!
					p I don't know what is it, really... But maybe you know?
					p There is secondary article.
		div.secondary-article
			div.second-secondary-article-image
				div.right-angle-icon
			div.secondary-article-annotation
				div.secondary-article-text
					h2 Some pictures!
					p I don't know what is it, really... But maybe you know?
					p There is secondary article.
		div.secondary-article
			div.third-secondary-article-image
				div.right-angle-icon
			div.secondary-article-annotation
				div.secondary-article-text
					h2 Some pictures!
					p I don't know what is it, really... But maybe you know?
					p There is secondary article.
	div.stories-and-sidebar
		div.stories
			div.story.recent-stories
				h2 My first story here. Can we talk about pinniped?
				p.story-info-string 15.01.2020 <span>|</span> 1 comments
				p Pinniped is a very cute and lovely animals.
				p I just jealous of them, because they can eat, swim and sleep all day.
				div.full-story
					p Pinnipeds, commonly known as seals, are a widely distributed and diverse clade of carnivorous, fin-footed, semiaquatic marine mammals. They comprise the extant families Odobenidae (whose only living member is the walrus), Otariidae (the eared seals: sea lions and fur seals), and Phocidae (the earless seals, or true seals). There are 33 extant species of pinnipeds, and more than 50 extinct species have been described from fossils. While seals were historically thought to have descended from two ancestral lines, molecular evidence supports them as a monophyletic lineage (descended from one ancestral line). Pinnipeds belong to the order Carnivora and their closest living relatives are bears and musteloids (weasels, raccoons, skunks, and red pandas), having diverged about 50 million years ago.
				span.show-comments-button Show comments
				span.add-comment-form-button Add comment
			<!-- Comment showing imitation on JS -->
			div.story-comments
				div.comment
					h3.commentator Comment by <span class="commentator-name serverside-commentator-name"></span>
					p.comment-date.serverside-comment-date
					p.comment-text.serverside-comment-text

			div.story.recent-stories
				h2 What do you know about Mars? I can tell you something...
				p.story-info-string 11.11.2019 <span>|</span> 1 comments
				p Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System after Mercury. In English, Mars carries a name of the Roman god of war and is often referred to as the 'Red Planet'.
				div.full-story
					p The latter refers to the effect of the iron oxide prevalent on Mars' surface, which gives it a reddish appearance distinctive among the astronomical bodies visible to the naked eye. Mars is a terrestrial planet with a thin atmosphere, having surface features reminiscent both of the impact craters of the Moon and the valleys, deserts, and polar ice caps of Earth.
					p The days and seasons are likewise comparable to those of Earth, because the rotational period as well as the tilt of the rotational axis relative to the ecliptic plane are very similar. Mars is the site of Olympus Mons, the largest volcano and highest known mountain on any planet in the Solar System, and of Valles Marineris, one of the largest canyons in the Solar System. The smooth Borealis basin in the northern hemisphere covers 40% of the planet and may be a giant impact feature. Mars has two moons, Phobos and Deimos, which are small and irregularly shaped. These may be captured asteroids, similar to 5261 Eureka, a Mars trojan.
					p Mars has been explored by numerous unmanned spacecraft. Mariner 4, launched by NASA on November 28, 1964, was the first spacecraft to visit Mars, making its closest approach to the planet on July 15, 1965. Mariner 4 detected the weak Martian radiation belt, measured at about 0.1% that of Earth’s, and captured the first images of another planet from deep space. On July 20, 1976, Viking 1 performed the first successful landing on the Martian surface. Although the Soviet Mars 3 spacecraft achieved a soft landing in December 1971, contact was lost with its lander seconds after touchdown. On July 4, 1997, the Mars Pathfinder spacecraft landed on Mars, and on July 5 released its rover, Sojourner, the first robotic rover to operate on Mars. Pathfinder was followed by the Mars Exploration Rovers, Spirit and Opportunity, which landed on Mars in January 2004 and operated until March 22, 2010 and June 10, 2018, respectively. The Mars Express orbiter, the first European Space Agency spacecraft to visit Mars, arrived in orbit on December 25, 2003. On September 24, 2014, the Indian Space Research Organization became the fourth space agency to visit Mars, when its maiden interplanetary mission, the Mars Orbiter Mission spacecraft, successfully arrived in orbit.
				span.show-comments-button Show comments
				span.add-comment-form-button Add comment
			<!-- Comment showing imitation on JS -->
			div.story-comments
				div.comment
					h3.commentator Comment by <span class="commentator-name serverside-commentator-name"></span>
					p.comment-date.serverside-comment-date
					p.comment-text.serverside-comment-text

			div.story.recent-stories
				h2 I love mountains!
				p.story-info-string 10.11.2019 <span>|</span> 1 comments
				p A mountain is a large landform that rises above the surrounding land in a limited area, usually in the form of a peak. A mountain is generally steeper than a hill. Mountains are formed through tectonic forces or volcanism.
				div.full-story
					p These forces can locally raise the surface of the earth. Mountains erode slowly through the action of rivers, weather conditions, and glaciers. A few mountains are isolated summits, but most occur in huge mountain ranges. High elevations on mountains produce colder climates than at sea level. These colder climates strongly affect the ecosystems of mountains: different elevations have different plants and animals. Because of the less hospitable terrain and climate, mountains tend to be used less for agriculture and more for resource extraction and recreation, such as mountain climbing and skiing. The highest mountain on Earth is Mount Everest in the Himalayas of Asia, whose summit is 8,850 m (29,035 ft) above mean sea level. The highest known mountain on any planet in the Solar System is Olympus Mons on Mars at 21,171 m (69,459 ft).
				span.show-comments-button Show comments
				span.add-comment-form-button Add comment
			<!-- Comment showing imitation on JS -->
			div.story-comments
				div.comment
					h3.commentator Comment by <span class="commentator-name serverside-commentator-name"></span>
					p.comment-date.serverside-comment-date
					p.comment-text.serverside-comment-text

			div.story.longtime-stories
				h2 Asia!
				p.story-info-string 01.11.2019 <span>|</span> 1 comments
				p Asia (/ˈeɪʒə, ˈeɪʃə/) is Earth's largest and most populous continent, located primarily in the Eastern and Northern Hemispheres. It shares the continental landmass of Eurasia with the continent of Europe and the continental landmass of Afro-Eurasia with both Europe and Africa. Asia covers an area of 44,579,000 square kilometres (17,212,000 sq mi), about 30% of Earth's total land area and 8.7% of the Earth's total surface area.
				div.full-story
					p The continent, which has long been home to the majority of the human population, was the site of many of the first civilizations. Asia is notable for not only its overall large size and population, but also dense and large settlements, as well as vast barely populated regions. Its 4.5 billion people (as of June 2019) constitute roughly 60% of the world's population, more than all other continents combined.
					p In general terms, Asia is bounded on the east by the Pacific Ocean, on the south by the Indian Ocean, and on the north by the Arctic Ocean. The border of Asia with Europe is a historical and cultural construct, as there is no clear physical and geographical separation between them. It is somewhat arbitrary and has moved since its first conception in classical antiquity. The division of Eurasia into two continents reflects East–West cultural, linguistic, and ethnic differences, some of which vary on a spectrum rather than with a sharp dividing line. The most commonly accepted boundaries place Asia to the east of the Suez Canal separating it from Africa; and to the east of the Turkish Straits, the Ural Mountains and Ural River, and to the south of the Caucasus Mountains and the Caspian and Black Seas, separating it from Europe.
					p China and India alternated in being the largest economies in the world from 1 to 1800 CE. China was a major economic power and attracted many to the east, and for many the legendary wealth and prosperity of the ancient culture of India personified Asia, attracting European commerce, exploration and colonialism. The accidental discovery of a trans-Atlantic route from Europe to America by Columbus while in search for a route to India demonstrates this deep fascination. The Silk Road became the main east–west trading route in the Asian hinterlands while the Straits of Malacca stood as a major sea route. Asia has exhibited economic dynamism (particularly East Asia) as well as robust population growth during the 20th century, but overall population growth has since fallen. Asia was the birthplace of most of the world's mainstream religions including Hinduism, Zoroastrianism, Judaism, Jainism, Buddhism, Confucianism, Taoism, Christianity, Islam, Sikhism, as well as many other religions.
					p Given its size and diversity, the concept of Asia—a name dating back to classical antiquity—may actually have more to do with human geography than physical geography.[citation needed] Asia varies greatly across and within its regions with regard to ethnic groups, cultures, environments, economics, historical ties and government systems. It also has a mix of many different climates ranging from the equatorial south via the hot desert in the Middle East, temperate areas in the east and the continental centre to vast subarctic and polar areas in Siberia.
				span.show-comments-button Show comments
				span.add-comment-form-button Add comment
			<!-- Comment showing imitation on JS -->
			div.story-comments
				div.comment
					h3.commentator Comment by <span class="commentator-name serverside-commentator-name"></span>
					p.comment-date.serverside-comment-date
					p.comment-text.serverside-comment-text

			div.story.longtime-stories
				h2 What about world population?
				p.story-info-string 20.10.2019 <span>|</span> 0 comments
				p In demographics, the world population is the total number of humans currently living, and was estimated to have reached 7.7 billion people as of April 2019. It took over 200,000 years of human history for the world's population to reach 1 billion, and only 200 years more to reach 7 billion.
				div.full-story
					p The world population has experienced continuous growth following the Great Famine of 1315–1317 and the end of the Black Death in 1350, when it was near 370 million. The highest global population growth rates, with increases of over 1.8% per year, occurred between 1955 and 1975—peaking to 2.1% between 1965 and 1970. The growth rate declined to 1.2% between 2010 and 2015 and is projected to decline further in the course of the 21st century.[6] However, the global population is still increasing and is projected to reach about 10 billion in 2050 and more than 11 billion in 2100.
					p Total annual births were highest in the late 1980s at about 139 million, and as of 2011 were expected to remain essentially constant at a level of 135 million, while deaths numbered 56 million per year and were expected to increase to 80 million per year by 2040. The median age of the world's population was estimated to be 30.4 years in 2018. In mid-2019, the United Nations estimated that the world population had reached 7,713,468,000.
				span.show-comments-button Show comments
				span.add-comment-form-button Add comment

			div.toggle-stories
				p.toggle-stories-text Show more
				i(class="fa fa-plus-circle fa-3x" aria-hidden="true")
		div.sidebar
			div.side-feature
				h2 About us
				p Some text Some text Some text Some text Some text Some text Some secondary-article-text
			div.side-feature
				h2 Contacts
				p Some text Some text Some text Some text Some text Some text Some secondary-article-text
			div.side-feature
				h2 Tools & techologies
				p Some text Some text Some text Some text Some text Some text Some secondary-article-text
			div.side-feature
				h2 Additionally
				p Some text Some text Some text Some text Some text Some text Some secondary-article-text

			div.statistics
				div.active-readers
					p <span>1</span> <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i> Active readers
				div.story-articles
					p <span></span> <i class="fa fa-pencil fa-2x" aria-hidden="true"></i> Story articles
				div.comments
					p <span></span> <i class="fa fa-comments fa-2x" aria-hidden="true"></i> Comments
				div.goodinc
					p <span>1</span> <i>g</i> Goodinc