footer
	div.footer-logo-line
		div.footer-logo-content
			div.logo
			p Good inc.
			div.footer-menu-items
				div.menu-item
					a(href="#") Portfolio
				span |

				div.menu-item
					a(href="#") Services
				span |

				div.menu-item
					a(href="#") Staff
				span |

				div.menu-item
					a(href="#") Articles
				span |

				div.menu-item
					a(href="#") Contact
	div.footer-links
		ul
			li
				a(href="#") About us
			li
				a(href="#") Footer Links here
			li
				a(href="#") Privacy
			li
				a(href="#") Page Links also
		p Some footer text about this page and something else. Some footer text about this page and something else. Some footer text about this page and something else. Some footer text about this page and something else. Some footer text about this page and something else. Some footer text about this page and something else.