header
	div.logo-line
		div.logo-content
			div.logo
			p Good inc.
			div.contact
				i(class = "fa fa-clock-o" aria-hidden="true")
				input(type="text" placeholder="Contact")
				div.quotes
					p &lt&gt
			div.newsletter
				i(class = "fa fa-map-marker" aria-hidden="true")
				input(type="text" placeholder="Newsletter")
				div.quotes
					p &lt&gt
	div.menu-line
	div.menu
		div.menu-items
			div.menu-icon
				i(class = "fa fa-map-marker" aria-hidden="true")
			div.menu-item
				a(href="#") Portfolio
			span |

			div.menu-item
				a(href="#") Services
			span |

			div.menu-item
				a(href="#") Staff
			span |

			div.menu-item
				a(href="#") Articles
			span |

			div.menu-item
				a(href="#") Contact
		div.dropdown-wrapper
			div.dropdown-items
				select.dropdown
					option(value="zero_option") Select from dropdown
					option(value="first_option") First option
					option(value="second_option") Second option
					option(value="third_option") Third option
		div.quicklinks
			p Quicklinks
			i(class = "fa fa-map-marker" aria-hidden="true") 
			span |
	div.search-social-bar
		div.search-bar
			div.search
				input(type="text" placeholder="Search for something")
				i(class = "fa fa-clock-o" aria-hidden="true")
			div.findy
				i(class = "fa fa-map-marker" aria-hidden="true")
				input(type="text" placeholder="Findy")
				div.quotes
					p &lt&gt
		div.social-bar
			div.social-item
				div.twitter
					i(class="fa fa-twitter" aria-hidden="true")
					a(href="#") Twitter
			div.social-item
				div.facebook
					i(class="fa fa-facebook" aria-hidden="true")
					a(href="#") Facebook
			div.social-item
				div.RSS
					i(class="fa fa-rss" aria-hidden="true")
					a(href="#") RSS
			div.social-item
				div.mail
					i(class="fa fa-envelope" aria-hidden="true")
					a(href="#") Mail