@import "./partials/header.less";

main {
	position: relative;
	width: 100%;
	background-color: #ebebeb;
	z-index: 0;
}

.main-article {
	width: 60%;
	min-width: 835px;
	margin: 0 auto;
	height: 500px;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: flex-start;
	-webkit-box-pack: flex-start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: flex-start;
}

.main-image-wrapper {
	position: relative;
	background: url(../images/1.jpg) no-repeat;
	background-size: cover;
	width: 68%;
	height: 100%;
	border-right: 9px #f26c4f solid;
}

.main-image-annotation {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 58%;
	height: 50px;
	opacity: 0.5;
	background-color: #000000;
	z-index: 2;

	p {
		position: relative;
		text-align: center;
		top: 18px;
		font-family: "Nexa-regular";
		font-size: 13px;
		color: #fff;
		z-index: 3;
	}
}

.main-article-wrapper {
	position: relative;
	width: 32%;
	height: 100%;
	background-color: #373737;
	box-sizing: border-box;

	h2 {
		position: relative;
		text-align: justify;
		margin: 16% 14% 8% 14%;
		font-family: "Nexa-regular";
		font-size: 18px;
		color: #fff;
		font-weight: 100;
	}

	p {
		position: relative;
		text-align: justify;
		font-family: "Nexa-regular";
		margin: 0% 14% 25px 14%;
		font-size: 15px;
		color: #d5d5d5;
		line-height: 1.8;
	}
}

.secondary-article-wrapper {
	width: 60%;
	margin: 0 auto;
	min-width: 835px;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
}

.secondary-article {
	margin: 15px 0px;
	height: 360px;
	width: 32%;
	-webkit-box-shadow: 3px 3px 10px -2px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    3px 3px 10px -2px rgba(50, 50, 50, 0.6);
	box-shadow:         3px 3px 10px -2px rgba(50, 50, 50, 0.6);
	transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}

.first-secondary-article-image {
	position: relative;
	background: url(../images/2.jpg) no-repeat 0 0;
	background-size: 110%;
	width: 100%;
	height: 50%;
	z-index: 1;
	transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}

.first-secondary-article-image:hover {
	background-size: 120%;
}

.second-secondary-article-image {
	position: relative;
	background: url(../images/3.jpg) no-repeat 0 0;
	background-size: 110%;
	width: 100%;
	height: 50%;
	z-index: 1;
	transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}

.second-secondary-article-image:hover {
	background-size: 120%;
}

.third-secondary-article-image {
	position: relative;
	background: url(../images/4.jpg) no-repeat 0 0;
	background-size: 110%;
	width: 100%;
	height: 50%;
	z-index: 1;
	transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}

.right-angle-icon {
	position: absolute;
	background: url(../images/grey-angle.png) no-repeat 0px 0px;
	background-size: cover;
	top: 0px;
	right: 0px;
	width: 76px;
	height: 76px;
	z-index: 2;
}

.secondary-article-annotation {
	position: relative;
	width: 100%;
	height: 50%;
	background-color: #ffffff;
	border-bottom: 1px solid #d3d3d3;
}

.secondary-article-text {
	h2 {
		position: relative;
		text-align: justify;
	    margin: 0% 10% 4% 10%;
		padding-top: 4%;
		color: #4f4f4f;
		font-size: 19px;
		font-family: "Nexa-bold";
	}

	p {
		position: relative;
		text-align: justify;
		margin: 0 10%;
		color: #4f4f4f;
		font-size: 15px;
		font-family: "Nexa-regular";
	}
}

.secondary-article:hover {
	-webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.95);
	-moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.95);
	box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.95);
	cursor: pointer;
}

.secondary-article:hover .right-angle-icon {
	background: url(../images/orange-angle.png) no-repeat 0px 0px;
	background-size: cover;
}

.secondary-article:hover .first-secondary-article-image {
	background-size: 120%;
}

.secondary-article:hover .second-secondary-article-image {
	background-size: 120%;
}

.secondary-article:hover .third-secondary-article-image {
	background-size: 120%;
}

.stories-and-sidebar {
	position: relative;
	width: 60%;
	margin: 0 auto;
	min-width: 835px;
	padding-bottom: 70px;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
}

.stories {
	position: relative;
	width: 66%;
}

.story {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
    padding-bottom: 40px;
	margin-bottom: 15px;
	background-color: #fff;
	border-left: 2px solid #8f8f8f;
	box-sizing: border-box;
	-webkit-box-shadow: 3px 3px 10px -2px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    3px 3px 10px -2px rgba(50, 50, 50, 0.6);
	box-shadow:         3px 3px 10px -2px rgba(50, 50, 50, 0.6);
	transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;

	h2 {
		position: relative;
		text-align: justify;
		margin: 0% 10% 0% 5%;
		padding-top: 2%;
		color: #4f4f4f;
		font-size: 19px;
		font-family: "Nexa-bold";
	}

	.story-info-string {
		position: relative;
		text-align: justify;
		font-style: italic;
		color: #cbcbcb;
		font-size: 13px;

		span {
			font-size: 15px;
			font-style: normal;
			font-weight: 100;
		}
	}

	p {
		position: relative;
		text-align: justify;
		margin: 0 5%;
		color: #4f4f4f;
		font-size: 15px;
		font-family: "Nexa-regular";
	}
}

.longtime-stories {
	display: none;
}

.show-comments-button {
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-style: italic;
	color: #cbcbcb;
}

.show-comments-button:hover {
	color: #f26c4f;
}

.add-comment-form-button {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-style: italic;
	color: #cbcbcb;
}

.add-comment-form-button:hover {
	color: #f26c4f;
}

.comment-input {
	height: 125px;
	width: 100%;
	margin-top: 50px;
}

.comment-adding-name {
	display: block;
    width: 50%;
    height: 25px;
    margin-left: 5%;
    margin-bottom: 10px;
}

.comment-adding-text {
	resize: none;
	display: block;
    width: 90%;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.submit-comment-button {
    width: 115px;
    height: 25px;
    margin-left: 5%;
}

.full-story {
	display: none;
	position: relative;
}

.story:hover {
	border-left: 2px solid #f26c4f;
	-webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.95);
	-moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.95);
	box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.95);
	cursor: pointer;
}

.story-comments {
	display: none;
}

.comment {
	position: relative;
	overflow: hidden;
	width: 95%;
	height: auto;
	padding-bottom: 25px;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: -10px;
	background-color: #fff;
	box-sizing: border-box;
	-webkit-box-shadow: 3px 3px 10px -2px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    3px 3px 10px -2px rgba(50, 50, 50, 0.6);
	box-shadow:         3px 3px 10px -2px rgba(50, 50, 50, 0.6);
}

.commentator {
	position: relative;
	text-align: justify;
	margin: 0% 10% 0% 5%;
	padding-top: 2%;
	color: #4f4f4f;
	font-size: 19px;
	font-family: "Nexa-bold";
}

.comment-date {
	margin: 0 5%;
	font-style: italic;
	color: #cbcbcb;
	font-size: 13px;
}

.comment-text {
	position: relative;
	text-align: justify;
	margin: 0 5%;
	color: #4f4f4f;
	font-size: 15px;
	font-family: "Nexa-regular";
}

.toggle-stories {
	text-align: center;
	width: max-content;
    margin: 0 auto;
    color: #ababab;
}

.toggle-stories:hover {
	cursor: pointer;
	color: #f26c4f;
}

.toggle-stories-text {
	font-size: 20px;
}

.sidebar {
	position: relative;
	width: 32%;
}

.side-feature {
	position: relative;
	overflow: hidden;
	background-color: #fff;
	border-left: 1px solid #8f8f8f;
	box-sizing: border-box;
	height: auto;
    padding-bottom: 15px;
	width: 100%;
	margin-bottom: 15px;
	-webkit-box-shadow: 3px 3px 10px -2px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    3px 3px 10px -2px rgba(50, 50, 50, 0.6);
	box-shadow:         3px 3px 10px -2px rgba(50, 50, 50, 0.6);
	transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;

	h2 {
		position: relative;
		text-align: justify;
		margin: 0% 10% 0% 5%;
		padding-top: 15;
		color: #4f4f4f;
		font-size: 18px;
		font-family: "Nexa-bold";
	}

	p {
		display: none;
		position: relative;
		text-align: justify;
		margin: 0 5%;
		color: #4f4f4f;
		font-size: 14px;
		font-family: "Nexa-regular";
	}
}

.side-feature:hover {
	border-left: 1px solid #f26c4f;
	-webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.95);
	-moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.95);
	box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.95);
	cursor: pointer;
}


.statistics div {
	margin: 15px 0 10px 10px;
	font-size: 1.3em;
	color: #9d9d9d;
	font-family: "Nexa-bold";

	p {
		height: 60px;
	}

	i {
		color: #474747;
	}

	span {
		color: #474747;
		margin-right: 15px;
	}
}

.goodinc i {
	font-size: 2em;
}

@import "./partials/footer.less";